<mat-toolbar color="primary">
	<mat-toolbar-row>
		<button mat-icon-button (click)="toggleMenu()">
			<mat-icon>{{menuOpen ? 'menu_open' : 'menu'}}</mat-icon>
		</button>
		<h1 id="title">Simple JS IDE</h1>
		<a mat-button [href]="gitHubSignInUrl">Sign in with GitHub</a>
	</mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container class="example-container">
	<mat-sidenav mode="side" [opened]="menuOpen">
		<mat-list role="list">
<!--			<mat-list-item role="listitem">-->
<!--				<button mat-raised-button (click)="openDialog()">Sign in to GitHub</button>-->
<!--			</mat-list-item>-->
<!--			<mat-list-item role="listitem"></mat-list-item>-->
			<!--			<mat-list-item role="listitem">Item 3</mat-list-item>-->
		</mat-list>
	</mat-sidenav>
	<mat-sidenav-content>
		<app-editor [(ngModel)]="code"></app-editor>
		<button mat-button type="button" (click)="run()">Run</button>

		<mat-menu #appMenu="matMenu">
			<button mat-menu-item type="button" (click)="setBasicOne()">Basic One</button>
			<button mat-menu-item type="button" (click)="setBasicTwo()">Basic Two</button>
			<button mat-menu-item type="button" (click)="setBasicThree()">Basic Three</button>
		</mat-menu>

		<button mat-icon-button [matMenuTriggerFor]="appMenu">
			<mat-icon>more_vert</mat-icon>
		</button>

	</mat-sidenav-content>
</mat-sidenav-container>


<mat-divider></mat-divider>

<iframe id="env"></iframe>
